/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
  
      [NameOfCountry]
      ,[NameOfCountryL]

      ,[mgCode]
  FROM [VISA2015].[dbo].[Country]
  ORDER BY NameOfCountry

